<h1>Import Websites from CSV</h1>

<%= form_with url: import_csv_websites_path, local: true, multipart: true do |f| %>
  <div class="field">
    <%= f.label :csv_file, "CSV File" %><br>
    <%= f.file_field :csv_file, accept: ".csv" %>
  </div>
  <div class="actions">
    <%= f.submit "Upload and Import" %>
  </div>
<% end %>

<%= link_to "Back to list", websites_path %>
