<h1>Websites</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <% @websites.each do |website| %>
                <tr>
                <td><%= website.name %></td>
                <td>
                    <%= link_to 'Show', website_path(website), class: 'btn btn-info' %>
                    <%= link_to 'Edit', edit_website_path(website), class: 'btn btn-warning' %>
                    <%= link_to 'Delete', website_path(website), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
                </td>
                </tr>
            <% end %>
            </tbody>
        </table>
    
        <%= link_to 'New Website To Track', new_website_path, class: 'btn btn-primary' %>
        </div>
    </div>
</div>
