<%= link_to 'Back to Websites', websites_path, class: 'btn btn-secondary' %>

<h1>Track a new website</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <%= form_with(model: @website, local: true) do |form| %>
                <% if @website.errors.any? %>
                    <div id="error_explanation">
                        <h2><%= pluralize(@website.errors.count, "error") %> prohibited this website from being saved:</h2>
                        <ul>
                            <% @website.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>

                <div class="form-group">
                    <%= form.label :name %>
                    <%= form.text_field :name, class: 'form-control' %>
                </div>
                <div class="form-group">
                    <%= form.label :country %>
                    <%= form.text_field :country, class: 'form-control' %>
                </div>
                <div class="form-group">
                    <%= form.label :size %>
                    <%= form.text_field :size, class: 'form-control' %>
                </div>
                <div class="form-group">
                    <%= form.label :member %>
                    <%= form.check_box :member %>
                </div>
                <div class="form-group">
                    <%= form.label "Date Started Tracking" %>
                    <%= form.date_select :start_date, class: 'form-control' %>
                </div>

                <h3>Websites</h3>
                <div class="form-group">
                    <%= form.label "Projects page url" %>
                    <%= form.text_field :projectsPage, class: 'form-control' %>
                </div>
                <div class="form-group">
                    <%= form.label "Jobs page url" %>
                    <%= form.text_field :jobsPage, class: 'form-control' %>
                </div>
                <div class="form-group">
                    <%= form.label "News page url" %>
                    <%= form.text_field :newsPage, class: 'form-control' %>
                </div>
                <div class="form-group">
                    <%= form.label "LinkedIn page url" %>
                    <%= form.text_field :linkedinPage, class: 'form-control' %>
                </div>

                <h3>Key Actors</h3>
                <div data-controller="preview">
                    <div id="key-actors">
                        <%= form.fields_for :key_actors do |actor_form| %>
                            <%= actor_form.label :name, "Key Actor Name" %>
                            <%= actor_form.text_field :name, data: { preview_target: "value", action: "input->preview#update" } %>
                            <%= link_to_remove_association "Remove", actor_form, class: "btn btn-danger", data: { turbo:false, action: "click->preview#renderRemove" } %>
                        <% end %>
                        <%= link_to_add_association 'Add Key Actor', 
                            form, :key_actors, 
                            class: "btn btn-primary", 
                                data: { turbo: false, 
                                        association_insertion_node: '#key-actors', 
                                        association_insertion_method: :append, 
                                        action: "click->preview#renderAdd" } %>
                    </div>
                    <div>
                        <ul data-preview-target="list"></ul>
                    </div>
                </div>
                
                <div class="form-group">
                    <%= form.submit 'Create Website', class: 'btn btn-primary' %>
                </div>
            <% end %>

            <%= link_to 'Import Websites from CSV', import_form_websites_path, class: 'btn btn-secondary' %>
        </div>
    </div>
</div>