<h1>Track a new website</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <%= form_with(model: @website, local: true) do |form| %>
                <% if @website.errors.any? %>
                    <div id="error_explanation">
                        <h2><%= pluralize(@website.errors.count, "error") %> prohibited this website from being saved:</h2>
                        <ul>
                            <% @website.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>

                <div class="form-group">
                    <%= form.label :name %>
                    <%= form.text_field :name, class: 'form-control' %>
                </div>
                <div class="form-group">
                    <%= form.label :url %>
                    <%= form.text_field :url, class: 'form-control' %>
                </div>
                <div class="form-group">
                    <%= form.label :country %>
                    <%= form.text_field :country, class: 'form-control' %>
                </div>
                <div class="form-group">
                    <%= form.label :website_type %>
                    <%= form.text_field :website_type, class: 'form-control' %>
                </div>
                <div class="form-group">
                    <%= form.label :size %>
                    <%= form.text_field :size, class: 'form-control' %>
                </div>
                <div class="form-group">
                    <%= form.label :status %>
                    <%= form.text_field :status, class: 'form-control' %>
                </div>
                <div class="form-group">
                    <%= form.label :start_date %>
                    <%= form.date_select :start_date, class: 'form-control' %>
                </div>

                <h3>Key Actors</h3>
                <div data-controller="preview">
                    <div id="key-actors">
                        <%= form.fields_for :key_actors do |actor_form| %>
                            <%= actor_form.label :name, "Key Actor Name" %>
                            <%= actor_form.text_field :name, data: { preview_target: "value", action: "input->preview#update" } %>
                            <%= link_to_remove_association "Remove", actor_form, class: "btn btn-danger" %>
                        <% end %>
                        <%= link_to_add_association 'Add Key Actor', 
                            form, :key_actors, 
                            class: "btn btn-primary", 
                                data: { turbo: false, 
                                        association_insertion_node: '#key-actors', 
                                        association_insertion_method: :append, 
                                        action: "click->preview#render" } %>
                    </div>
                    <div>
                        <h4>Key Actors Preview</h4>
                        <ul data-preview-target="list"></ul>
                    </div>
                </div>

                <h3>Hyperlinks</h3>
                <div data-controller="preview">
                    <div id="hyperlinks">
                        <%= form.fields_for :hyperlinks do |link_form| %>
                            <%= link_form.label :url, "Hyperlink" %>
                            <%= link_form.text_field :url, data: { preview_target: "value", action: "input->preview#update" } %>
                            <%= link_to_remove_association "Remove", link_form, class: "btn btn-danger" %>
                        <% end %>
                        <%= link_to_add_association 'Add Hyperlink', 
                            form, :hyperlinks,
                            class: "btn btn-primary",
                                data: { turbo: false, 
                                        association_insertion_node: '#hyperlinks', 
                                        association_insertion_method: :append, 
                                        action: "click->preview#render" } %>
                    </div>
                    <div>
                        <h4>Hyperlinks Preview</h4>
                        <ul data-preview-target="list"></ul>
                    </div>
                </div>

                <div class="form-group">
                    <%= form.submit 'Create Website', class: 'btn btn-primary' %>
                </div>
            <% end %>
        </div>
    </div>
</div>

<%= link_to 'Back to Websites', websites_path, class: 'btn btn-secondary' %>