<h1>Daily Crawling Report</h1>

<h2>Sites updated on <%= l Date.current, format: :long %></h2>

<% if @projects.any? %>
  <ul>
    <% @projects.each do |project| %>
      <% projects_page = project.websites.changed_today.find_by(website_type: :projects) %>
      <% jobs_page = project.websites.changed_today.find_by(website_type: :jobs) %>
      <% news_page = project.websites.changed_today.find_by(website_type: :news) %>
      <% linkedin_page = project.websites.changed_today.find_by(website_type: :linkedin) %>
        <h4>
          <%= project.name %>
        </h4>
      <% if projects_page.present? %>
        <li>
          Projects Page: <a href="<%= projects_page.url %>"><%= projects_page.url %></a>
        </li>
      <% end %>
      <% if jobs_page.present? %>
        <li>
          Jobs Page: <a href="<%= jobs_page.url %>"><%= jobs_page.url %></a>
        </li>
      <% end %>
      <% if news_page.present? %>
        <li>
          News Page: <a href="<%= news_page.url %>"><%= news_page.url %></a>
        </li>
      <% end %>
      <% if linkedin_page.present? %>
        <li>
          LinkedIn Page: <a href="<%= linkedin_page.url %>"><%= linkedin_page.url %></a>
        </li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>No updates today</p>
<% end %>
