<h1>Daily Crawling Report</h1>

<h2>Sites updated on <%= l Date.current, format: :long %></h2>

<% if @projects.any? %>
  <ul>
    <% @projects.each do |project| %>
      <% projects_page = project.websites.find_by(website_type: :projects).changed_today if projects_page %>
      <% jobs_page = project.websites.find_by(website_type: :jobs).changed_today if jobs_page %>
      <% news_page = project.websites.find_by(website_type: :news).changed_today if news_page %>
      <% linkedin_page = project.websites.find_by(website_type: :linkedin).changed_today if linkedin_page %>
        <h4>
          <%= project.name %>
        </h4>
      <% if projects_page %>
        <li>
          Projects Page: <a href="<%= projects_page.url %>"><%= projects_page.url %></a>
        </li>
      <% end %>
      <% if jobs_page %>
        <li>
          Jobs Page: <a href="<%= jobs_page.url %>"><%= jobs_page.url %></a>
        </li>
      <% end %>
      <% if news_page %>
        <li>
          News Page: <a href="<%= news_page.url %>"><%= news_page.url %></a>
        </li>
      <% end %>
      <% if linkedin_page %>
        <li>
          LinkedIn Page: <a href="<%= linkedin_page.url %>"><%= linkedin_page.url %></a>
        </li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>No updates today</p>
<% end %>
