<%= link_to 'Back to Projects', projects_path, class: 'btn btn-secondary' %>

<h1>Track a new project</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <%= form_with(model: @project, local: true) do |form| %>
                <% if @project.errors.any? %>
                    <div id="error_explanation">
                        <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
                        <ul>
                            <% @project.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>

                <div class="form-group">
                    <%= form.label :name %>
                    <%= form.text_field :name, class: 'form-control' %>
                </div>
                <div class="form-group">
                    <%= form.label :country %>
                    <%= form.text_field :country, class: 'form-control' %>
                </div>
                <div class="form-group">
                    <%= form.label :size %>
                    <%= form.text_field :size, class: 'form-control' %>
                </div>
                <div class="form-group">
                    <%= form.label :is_member %>
                    <%= form.check_box :is_member %>
                </div>
                <div class="form-group">
                    <%= form.label "Date Started Tracking" %>
                    <%= form.date_select :date_started_tracking, class: 'form-control' %>
                </div>

                <h3>Pages</h3>

                <% Website.website_types.keys.each do |type| %>
                    <% # find the matching nested site (built in #new/#edit above) %>
                    <% site = @project.websites.detect { |w| w.website_type == type } %>
                    <div class="form-group">
                        <%= form.fields_for :websites, site do |wf| %>
                            <%= wf.hidden_field :website_type, value: type %>
                            <%= wf.label :url, "#{type.to_s.titleize} page URL" %>
                            <%= wf.text_field :url, class: 'form-control' %>
                            <%# optional: allow destroying an existing one %>
                            <% if wf.object.persisted? %>
                                <div class="form-check">
                                    <%= wf.check_box :_destroy, class: 'form-check-input' %>
                                    <%= wf.label   :_destroy, 'Remove this URL', class: 'form-check-label' %>
                                </div>
                            <% end %>
                        <% end %>
                    </div>
                <% end %>


                <h3>Key Actors</h3>
                <div data-controller="preview">
                    <div id="key-actors">
                        <%= form.fields_for :key_actors do |actor_form| %>
                            <%= actor_form.label :name, "Key Actor Name" %>
                            <%= actor_form.text_field :name, data: { preview_target: "value", action: "input->preview#update" } %>
                            <%= link_to_remove_association "Remove", actor_form, class: "btn btn-danger", data: { turbo:false, action: "click->preview#renderRemove" } %>
                        <% end %>
                        <%= link_to_add_association 'Add Key Actor', 
                            form, :key_actors, 
                            class: "btn btn-primary", 
                                data: { turbo: false, 
                                        association_insertion_node: '#key-actors', 
                                        association_insertion_method: :append, 
                                        action: "click->preview#renderAdd" } %>
                    </div>
                    <div>
                        <ul data-preview-target="list"></ul>
                    </div>
                </div>
                
                <div class="form-group">
                    <%= form.submit 'Create Project', class: 'btn btn-primary' %>
                </div>
            <% end %>

            <%= link_to 'Import Projects from CSV', import_form_projects_path, class: 'btn btn-secondary' %>
        </div>
    </div>
</div>