<h1>Edit Crawler Settings</h1>
<%= form_with model: @config, url: crawl_config_path, method: :patch do |f| %>
  <div>
    <%= f.label :sender_email %>
    <%= f.text_field :sender_email %>
  </div>
  <div>
    <%= f.label :regularity_days, "Run every (days)" %>
    <%= f.number_field :regularity_days %>
  </div>
  <div>
    <%= f.label :time_of_day, "Run at (hour)" %><br>
    <%= f.time_field :time_of_day, step: 3600 %>
  </div>
  <%= f.submit "Save Settings" %>
<% end %>
